.goods_img {
    margin:0 auto; 
    max-width:1920px; 
    height:0; 
    padding-bottom:calc(400/1920*100%); 
    text-align:center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    position: relative;
}
.article_1 .goods_img { background-image:url('../images/all1.jpg'); }
.article_2 .goods_img { background-image:url('../images/new1.jpg'); }
.article_3 .goods_img { background-image:url('../images/soft1.jpg'); }
.article_4 .goods_img { background-image:url('../images/fresh1.jpg'); }
.article_5 .goods_img { background-image:url('../images/baked1.jpg'); }
.article_6 .goods_img { background-image:url('../images/dessert1.jpg'); }
.article_7 .goods_img { background-image:url('../images/drink1.jpg'); }

.goods_cate { 
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.goods_cate ul {
    overflow: hidden;
    text-align: center;
}
.goods_cate li {
    float: left;
    width: 14.2857%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding: 20px 0;
    font-weight: bold;
}
.goods_cate li:hover {
    border: 1px solid #fff;
    color: #fff;
}
.goods_cate li.on {
    background: #fff;
    color: #000;
} 

.goods_list ul {
    overflow: hidden;
    margin: 100px 0;
} 
.goods_list ul li {
    float: left;
    width: 23%;
    margin: 1%;
    
    background-size: 0;
    background-position: center center;
    transition: all 0.5s;
} 
.goods_list ul li:hover {
    background-size: 25%, 90%;
    background-repeat: no-repeat;
    background-position: 90% 10%, center center;
}

.all_list ul li:hover { background-image: url('../images/circle_icon.png'), url('../images/dot_bg.png'); } 
.new_list ul li:hover { background-image: url('../images/new.png'), url('../images/dot_bg.png'); } 
.soft_list ul li:hover { background-image: url('../images/new.png'), url('../images/dot_bg.png'); } 
.fresh_list ul li:hover { background-image: url('../images/new.png'), url('../images/dot_bg.png'); } 
.baked_list ul li:hover { background-image: url('../images/new.png'), url('../images/dot_bg.png'); } 
.dessert_list ul li:hover { background-image: url('../images/new.png'), url('../images/dot_bg.png'); } 
.drink_list ul li:hover { background-image: url('../images/.png'), url('../images/dot_bg.png'); } 

.goods_list ul li img { transition: all 0.5s; } 
.goods_list ul li:hover img { transform: rotate(10deg); }