@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Varela+Round&display=swap');
/* 
font-family: 'IBM Plex Sans KR', sans-serif;
font-family: 'Varela Round', sans-serif;
*/


/* ---------- ARTICLE_1 ---------- */
.article_1 { position: relative; }

/* 배너 */
.article_1 .main_banner {
    float: left; 
    width: 750px; 
    height: 100%;
}
/* .article_1 .main_banner a { display: none; } */
/* .article_1 .main_banner a:first-child { display: block; } */
.article_1 .main_banner_2 {
    display: none;
}

.article_1 .slick-arrow {
    font-size: 50px;
    z-index: 1;
    color: #ff0303;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
}
.article_1 .slick-arrow.leftarr { left: 30px; }
.article_1 .slick-arrow.rightarr { right: 30px; }

/* 컨텐츠 공통 */
.article_1 .banner_con {
    float: right;
    width: calc(100% - 750px);
    text-align: center;
    margin: 0 auto;
}

/* 비디오 */
.article_1 .video_wrap { 
    padding: 20px;
    background-color: #fff5c6;
}
.article_1 .video_wrap div {
    float: left;
    width: 49.5%;
    position: relative;
	padding-top: 27.8%;
}
.article_1 .video_wrap div:last-child { margin: 100px 0 0 1%; }
.article_1 .video_wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
}
.article_1 .video_wrap div p {
    position: absolute;
    font-size: 25px;  
    font-weight: bold;
    animation: jackInTheBox 5s;
}
.article_1 .video_wrap div:first-child p {
    bottom: -60px;
    left: 15px;
}
.article_1 .video_wrap div:last-child p {
    top: -60px;
    right: 15px;
}
.article_1 .video_wrap div p span {
    font-size: 30px;
    color: #CE403D;
    animation: flash 3s infinite 5s;
}

/* 신메뉴 */
.article_1 .new_wrap { 
    padding: 30px;
    background-color: #ffdcd1;
    margin: 250px 20px 0 20px;
    position: relative;
}
.article_1 .new_wrap .new_img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -230px;
}
.article_1 .new_wrap .title img { 
    animation: swing 3s infinite;
    margin-right: 15px; 
}
.article_1 .new_wrap > a { 
    float: left;
    width: 40%;
    margin: 5%;
}
.article_1 .new_wrap > a:hover { 
    animation : pulse 2s infinite;
}
.article_1 .new_wrap .new_name {
    font-size: 25px;
    font-weight: bold;
}
.article_1 .new_wrap .new_name > div {
    height: 2em !important;
}
.article_1 .new_wrap .all {
    font-size: 22px;
    font-weight: bold;
    padding: 13px 20px;
    border: 1px solid black;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    margin: 50px 0;
}
.article_1 .new_wrap .all::after {
    content: '';
    background-color: rgba(238, 120, 104, 0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
.article_1 .new_wrap .all:hover { color: #fff; }
.article_1 .new_wrap .all:hover::after {
    top: 0px;
    left: 0px;
}

/* ---------- ARTICLE_2 ---------- */
.article_2 a {
    /* float: left;
    width: 29.3333%; */
    margin: 20px;
    border: 1px solid black;
    position: relative;
}
.article_2 a::before {
    content: '';
    position: absolute;
    top:0; 
    bottom:0; 
    right:0; 
    left:0;
    background:rgba(0,0,0,0.6); 
    opacity:0; 
    transition:all 0.5s
}

.article_2 a span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
.article_2 a:hover::before { opacity:1; } 
.article_2 a:hover span { 
    opacity: 1; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article_2 .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.article_2 .slick-arrow.leftarr { left: -50px; }
.article_2 .slick-arrow.rightarr { right: -50px; }

.article_2 .slick-disabled { cursor: default; }

/* ---------- ARTICLE_3 ---------- */
.article_3 .news_wrap { 
    display: flex;
    text-align: center;
}
.article_3 .news_wrap > div { 
    flex-basis: 100%;
    margin: 2% 1%;
}
.article_3 .news_wrap > div h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; 
}
.article_3 .news_wrap > div p {
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 30px;
}

.article_3 .news_wrap > div:hover p { 
    text-decoration: underline;
    text-underline-offset: 3px;
    text-underline-position: under; 
}

/* ---------- ARTICLE_4 ---------- */
.article_4 .follow_small {
    float: left;
    width: 23%;
    margin: 2%;
}
.article_4 .follow_small a:first-child {
    margin-bottom: 20px;
}
.article_4 .follow_big {
    float: left;
    width: 42%;
    margin: 5% 2%;
    vertical-align: middle;
}