@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Varela+Round&display=swap');
/* 
font-family: 'IBM Plex Sans KR', sans-serif;
font-family: 'Varela Round', sans-serif;
*/

/* ---------- 공통 ---------- */
body{ 
    word-break: keep-all;
    font-size: 18px;  
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.inner { 
    max-width: 1400px;
    margin: 0 auto; 
}
.scroll_fix {
    position: fixed !important;
    top: 0;
}
.fixed {
    position: fixed !important;  
    top: -10%;
}
.absolute {
    position: absolute !important;
    top: auto !important;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto !important;
}

/* ---------- HEADER ---------- */
#header {
    padding: 30px 0;
    background: #3B2120;
}
#header .inner { 
    position: relative;
    color: #fff; 
}

/* 로고 */
#header h1 { text-align: center; }
#header .m_logo { display: none; }

/* 공통 스타일 */
#header .header_style {
    position: absolute;
    bottom: 0;
}
#header .header_style a { padding: 10px 30px; }

/* 창업문의 */
#header .start { left: 5%; }
#header .start a {
    border: 2px solid #fff;
    border-radius: 24px;
}

/* 로그인&회원가입 */
#header .member {
    right: 5%;
    font-weight: bold;
}
#header .member a { position: relative; }
#header .member a:first-child::after {
    content:'';
    width: 1px;
    height: 15px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: -3px;
}
#header .open_nav { display: none; }

/* ---------- NAV ---------- */
#nav {
    position: absolute;
    width: 100%;
    height: 63px;
    z-index: 3;  
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #3B2120;
}

/* 대분류 */
#nav .depth_1 > li { 
    float: left;
    width: 16.6666%;
    text-align: center;
    color: #3B2120; 
    position: relative;
}
/* #nav .depth_1 h2 { position: relative; } */
#nav .depth_1 h2 > a { 
    padding: 18px 50px;
    font-weight: bold;
}

/* 소분류 */
#nav .depth_2::before {
    content: '';
    position: absolute;
    top: 56px;
    left: 0;
    background: url(../images/ham_ring.png) no-repeat center top;
    width: 100%;
    height: 42px;
}
#nav .depth_2 { 
    display: none;
    border: 1px solid #3B2120;
    padding: 24px 0;
    margin-top: 10px;
    background: #fff;
    font-weight: bold;
    font-size: 20px;
}
#nav .depth_2 a { padding: 8px 20px; }

/* HOVER */
#nav .depth_1 > li:hover > h2 {
    background: #3B2120;
    color: #fff;
}
/* #nav .depth_1 > li:hover > .depth_2::before { height: 42px; } */
/* #nav .depth_1 > li:hover .depth_2 { display: block; } */
#nav .depth_2 a:hover { border-bottom: 1px dotted #3B2120; } 

/* ---------- SECTION 공통---------- */
#section { margin-top: 80px; }

/* 제목 */
#section .title {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin: 60px 0 30px;
    color: #ff0303;
}

/* #section .title span { position: relative; }
#section .title span::before,
#section .title span::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background: #CE403D;
    top: 50%;
    transform: translateY(-50%);
}
#section .title span::before { left: -80px; }
#section .title span::after { right: -80px; } */

/* ---------- ARTICLE_1 ---------- */
.article_1 { position: relative; }

/* 배너 */
.article_1 .main_banner {
    float: left; 
    max-width: 750px; 
    height: 100%;
}
.article_1 .main_banner a { display: none; }
.article_1 .main_banner a:first-child { display: block; }
.article_1 .main_banner_2 {
    display: none;
}

/* 컨텐츠 공통 */
.article_1 .banner_con {
    float: right;
    width: calc(100% - 750px);
    text-align: center;
    margin: 0 auto;
}

/* 비디오 */
.article_1 .video_wrap { 
    padding: 20px;
    background-color: #fff5c6;
}
.article_1 .video_wrap div {
    float: left;
    width: 49.5%;
    position: relative;
	padding-top: 27.8%;
}
.article_1 .video_wrap div:last-child { margin: 100px 0 0 1%; }
.article_1 .video_wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
}
.article_1 .video_wrap div p {
    position: absolute;
    font-size: 25px;  
    font-weight: bold;
    animation: jackInTheBox 5s;
}
.article_1 .video_wrap div:first-child p {
    bottom: -60px;
    left: 15px;
}
.article_1 .video_wrap div:last-child p {
    top: -60px;
    right: 15px;
}
.article_1 .video_wrap div p span {
    font-size: 30px;
    color: #CE403D;
    animation: flash 3s infinite 5s;
}

/* 신메뉴 */
.article_1 .new_wrap { 
    padding: 30px;
    background-color: #ffdcd1;
    margin: 20px 20px 0 20px;
}
.article_1 .new_wrap .title img { animation: swing 3s infinite; }
.article_1 .new_wrap .all {
    font-size: 22px;
    font-weight: bold;
    padding: 13px 20px;
    border: 1px solid black;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}
.article_1 .new_wrap .all::after {
    content: '';
    background-color: #ffe54c;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
.article_1 .new_wrap .all:hover::after {
    top: 0px;
    left: 0px;
}
.article_1 .new_wrap > a { 
    float: left;
    width: 40%;
    margin: 5%;
}
.article_1 .new_wrap > a:hover { 
    animation : pulse 2s infinite;
}
.article_1 .new_wrap .new_name {
    font-size: 25px;
    font-weight: bold;
}
.article_1 .new_wrap .new_name > div {
    height: 2em !important;
}

/* ---------- ARTICLE_2 ---------- */
.article_2 a {
    float: left;
    width: 29.3333%;
    margin: 2%;
    border: 1px solid black;
}

/* ---------- ARTICLE_3 ---------- */


/* ---------- ARTICLE_4 ---------- */
.article_4 .follow_small {
    float: left;
    width: 23%;
    margin: 2%;
}
.article_4 .follow_small a {
    border: 1px solid black;
}
.article_4 .follow_small a:first-child {
    margin-bottom: 20px;
}
.article_4 .follow_big {
    float: left;
    width: 42%;
    margin: 5% 2%;
    border: 1px solid black;
    vertical-align: middle;
}