.join_img {
    text-align: center;
}
.join_img img { 
    max-width: 400px; 
    margin: 50px 0 40px;
}

.join_wrap { 
    max-width: 700px;
    margin: 0 auto;
}
.join_wrap label,
.join_wrap .input_content { 
    display: block;
    margin-left: 10px;
}

.join_wrap label { font-weight: bold; }
.join_wrap label span {
    color: #f52334;
    transform: translateY(4px);
    margin-right: 5px;
}
.join_wrap .input_content {
    width: 95%;
    margin: 10px auto 20px;
}
.join_wrap input,
.join_wrap select { 
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.input_content span {
    font-size: 15px;
    margin-left: 5px;
    color: #f52334;
}

#email {
    width: 49%;
}
#emailDomain {
    width: 49%;
    float: right;
}

.agree { text-align: left; }
.agree label { 
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    margin-left: 0;
}

input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    background: url('../images/check_off.png') no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    vertical-align: sub;
}
input[type="checkbox"]:checked + label{
    background: url('../images/check_on.png') no-repeat;
    background-size: 20px;
}

select {  
    background: url('../images/select.png') no-repeat 95% 50%; 
    -webkit-appearance: none; 
    -moz-appearance: none;appearance: none;
}
select::-ms-expand { display: none; }

#zipcode {
    width: 80%;
}
.zipcode_btn {
    width: 18%;
    float: right;
    padding: 10px;
    border: 1px solid #f52334;
}
#address {
    margin: 5px 0;
}
#birthYear { width: 32%; }
#birthMonth { width: 32%; }
#birthDay { width: 32%; }

.join_btn { text-align: center; }
.join_btn > button {
    padding: 15px 60px;
    border-radius: 42px;
    margin: 30px 5px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
}
.join_wrap .prev_btn {
    background: #3c2121;
}
.join_wrap .ok_btn {
    background: #f52334;
}