@charset "utf-8";

@media screen and (max-width:1650px) {
    .article_1 .video_wrap div {
        float: none;
        width: 100%;
        padding-top: 56.25%;
    }
    .article_1 .video_wrap div:last-child { margin: 5% 0 0 0; }
    .article_1 .video_wrap div p {
        display: none;
    }
}

@media screen and (max-width:1525px) {
    .article_1 .new_wrap .new_img { top: -215px; }
}

@media screen and (max-width:1400px) {
    .article_1 .new_wrap > a { 
        width: 80%;
        margin: 5% 10%;
    }

    .article_1 .new_wrap .new_img { top: -200px; }
}

@media screen and (max-width:1350px) {
    .article_1 .new_wrap .new_img { top: -170px; }
}

@media screen and (max-width:1265px) { 
    /* 공통 */
    .fixed { top: 0; } 

    .article_1 .main_banner { max-width: 650px; }
    .article_1 .banner_con { width: calc(100% - 650px); }
}

@media screen and (max-width:1165px) {
    .article_1 .main_banner { max-width: 580px; }
    .article_1 .banner_con { width: calc(100% - 580px); }
}

@media screen and (max-width:1100px) {
    .article_1 .new_wrap .title { font-size: 50px !important; }
    .article_1 .new_wrap .title img { width: 19%; }

    .article_1 .new_wrap .new_img { top: -145px; }
}

@media screen and (max-width:1024px) {
    #header { 
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 3;
    }

    /* 로고 */
    #header h1 { text-align: left; }
    #header .logo { display: none; }
    #header .m_logo { 
        display: inline-block; 
        margin-left: 25px;
    }
    #header .m_logo img { width: 200px; }  
    
    /* 창업문의 */
    #header .start { 
        left: inherit;
        bottom: inherit;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 100px;
    }

    /* 로그인&회원가입 */
    #header .member { display: none; }
    
    /* 메뉴 열고 닫기 */
    #header .open_nav { 
        display: block;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }  
    #header .open_nav i { font-size: 30px; } 

    #nav { 
        display: none;
        position: fixed;
        height: inherit;
        top: 120px;
        bottom: 0;
        z-index: 2;  
        background: rgb(255, 255, 255);
        overflow-y: auto;
        border: none;
    }
    #nav .depth_1 > li { 
        width: 100%;
        text-align: center;
        color: #3B2120; 
        position: relative;
    }

    #nav .depth_2::before {
        display: none;
    }

    #section { margin-top: 120px; }

    .article_1 .main_banner { display: none; }
    .article_1 .main_banner_2 { display: block; }
    /* .article_1 .main_banner_2 a:not(:first-child){ display: none; } */
    .article_1 .banner_con {
        float: none;
        width: 100%;
    }

    .article_1 .video_wrap { 
        margin: 20px;
    }
    .article_1 .video_wrap div {
        float: left;
        width: 49.5%;
        position: relative;
        padding-top: 27.8%;
    }
    .article_1 .video_wrap div:last-child { margin: 100px 0 0 1%; }
    .article_1 .video_wrap div p {
        display: block;
        font-size: 20px;
    }
    .article_1 .video_wrap div p span {
        font-size: 25px;
    }

    .article_1 .new_wrap .title { font-size: 60px !important; }
    .article_1 .new_wrap .title img { width: inherit; }
    .article_1 .new_wrap > a { 
        width: 40%;
        margin: 5%;
    }
    .article_1 .new_wrap .new_img { top: -230px; }

    .article_2 a { margin: 0 10px; }
    .article_2 a::before { display: none; }
    .article_2 a span { display: none; }

    #footer .inner { 
        text-align: center;
    }
    #footer .info { margin-left: 0; }
    #footer .sns {
        position: static;
        top: 0;
        transform: translateY(0);
        right: 0;
        width: 100%;
        margin-top: 3%;
    }
    #footer .sns a { margin: 0 1.5% ; }
}

@media screen and (max-width:768px) {
    #header .m_logo img { width: 160px; }
    
    #nav { top: 108px; }
    
    #section { margin-top: 108px; }
    #section .title { font-size: 45px !important; }
    .article_1 .video_wrap div {
        float: none;
        width: 100%;
        padding-top: 56.25%;
    }
    .article_1 .video_wrap div:last-child { margin: 5% 0 0 0; }
    .article_1 .video_wrap div p {
        display: none;
    }

    .article_1 .new_wrap > a { 
        width: 80%;
        margin: 5% 10%;
    }

    /* .article_2 a { width: 46%; }
    .article_2 a:last-child { display: none; } */

    .article_3 .news_wrap > div:last-child { 
        display: none;
    }

    .article_4 .follow_small { width: 30.6666%; }
    .article_4 .follow_small:last-child {
        display: none;
    }
    .article_4 .follow_big { width: 61.3333%; margin: 4% 2%; }
}

@media screen and (max-width:690px) {
    .article_1 .new_wrap .new_img { top: -200px; }
}

@media screen and (max-width:600px) {
    .article_1 .new_wrap .new_img { top: -180px; }
}

@media screen and (max-width:550px) {
    .article_1 .new_wrap .new_img { top: -160px; }
}

@media screen and (max-width:500px) {
    .article_1 .new_wrap { 
        margin-top: 20px;
    }
    .article_1 .new_wrap .new_img { display: none; }
}